@model TodoApp.Mvc.Models.TodoList
@{
    ViewData["Title"] = "Todo Page";
}

<div class="text-center">
    <h1 class="display-4">Todo App</h1>
    <table>
        <tr>
            <th>#</th>
            <th>Todo</th>
            <th>Deadline</th>
        </tr>
        <tr>
            @if (Model.TodoItems != null)
            {
                @foreach (var todo in Model.TodoItems)
                {
                <tbody>@Model.TodoItems</tbody>
                <tbody></tbody>
                <tbody></tbody>
                }
            }
            </tr>
        </table>
    </div>
